#playButton{
    font-size: 2em;
    margin-top: 10px;
    font-weight: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.Head {
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
}

.hint{
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 3em;
}

.buttonSet{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-top: 1em;
}
